* {
  padding: 0;
  margin: 0;
}
main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
div {
  width: 20px;
  height: 20px;
}
.board {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid black;
}
.wall {
  background-color: black;
}
.path {
  background-color: green;
}
.player {
  background-color: red;
}
.treasure {
  background-color: yellow;
}
